# Scrape the top-100 lists
Get all tables from https://en.wikipedia.org/wiki/Wikipedia:Popular_pages

In [178]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

In [ ]:
popular_pages = requests.get('https://en.wikipedia.org/wiki/Wikipedia:Popular_pages').content
soup = BeautifulSoup(popular_pages)

In [182]:
tables = soup.find_all('table')
top_lists = []
h2s_to_exclude = ['Categories']
h3s_to_exclude = ['Historical most-viewed 3rd-millennium persons']

for table in tables:
    
    table_data = {}
    
    # find subjects
    
    h2 = table.find_previous('h2')
    h2_text = h2.text if h2 else None
    table_data['h2'] = h2_text
    if h2_text in h2s_to_exclude:
        continue
    
    h3 = table.find_previous('h3')
    if h3 and h3.find_previous('h2') == h2: # find h3 only if it appears after h2
        h3_text = h3.text
    else:
        h3_text = None
    table_data['h3'] = h3_text
    if h3_text in h3s_to_exclude:
        continue
    
    table_data['headers'] = [re.sub(r'(\n|\*)', '', th.text) for th in table.find_all('th')
                             if 'As of 24 February 2024' not in th.text] + ['href']
    
    # get table content
    table_content = []
    for tr in table.find_all('tr'):
        row = []
        for td in tr.find_all('td'):
            row.append(td.text.strip('\n'))
        if row:
            links_in_row = tr.find_all('a')
            has_link = False
            if links_in_row:
                for link in links_in_row[::-1]:
                    if not link['href'].startswith('#'):
                        row.append(link['href'])
                        has_link = True
                        break
            if not has_link:
                row.append(None)
            table_content.append(row)
                
    
    table_data['content'] = table_content
    top_lists.append(table_data)

In [183]:
pd.DataFrame(top_lists)

,h2,h3,headers,content
0,Top-100 list,None,"[Rank, Page, Views in millions, href]","[[[a], Main Page, 46,800, /wiki/Main_Page], [[..."
1,Universe,None,"[Rank, Page, Views in millions, href]","[[1, Earth, 80, /wiki/Earth], [2, Sun, 40, /wi..."
2,Earth,None,"[Rank, Page, Views in millions, href]","[[1, Mount Everest, 46, /wiki/Mount_Everest], ..."
3,Life,None,"[Rank, Page, Views in millions, href]","[[1, Cat, 61, /wiki/Cat], [2, Dog, 50, /wiki/D..."
4,Civilization,Wars,"[Rank, Page, Views in millions, href]","[[1, World War II, 145, /wiki/World_War_II], [..."
5,Civilization,Empires and hegemonies,"[Rank, Page, Views in millions, href]","[[1, Soviet Union, 63, /wiki/Soviet_Union], [2..."
6,Civilization,Present countries,"[Rank, Page, Views in millions, href]","[[1, United States, 254, /wiki/United_States],..."
7,Civilization,Cities,"[Rank, Page, Continent, Views in millions, href]","[[1, New York City, North America, 96, /wiki/N..."
8,Civilization,Buildings and structures,"[Rank, Page, Date of completion [a], Views in ...","[[1, Taj Mahal, 1653, 53, /wiki/Taj_Mahal], [2..."
9,People,None,"[Rank, Page, Views in millions, href]","[[1, Donald Trump, 243, /wiki/Donald_Trump], [..."
10,People,Singers,"[Rank, Page, Views in millions, href]","[[1, Michael Jackson, 141, /wiki/Michael_Jacks..."
11,People,Actors,"[Rank, Page, Views in millions, href]","[[1, Kim Kardashian, 111, /wiki/Kim_Kardashian..."
12,People,Athletes,"[Rank, Page, Sport, Views in millions, href]","[[1, Cristiano Ronaldo, Association football, ..."
13,People,Political leaders,"[Rank, Page, Country, Views in millions, href]","[[1, Donald Trump, United States, 243, /wiki/D..."
14,People,Pre-modern people,"[Rank, Page, Time, Views in millions, href]","[[1, Jesus, 4 BC − 30/33 AD, 59, /wiki/Jesus],..."
15,People,3rd-millennium people,"[Rank, Page, Views in millions, href]","[[1, Billie Eilish, 52, /wiki/Billie_Eilish], ..."
16,Entertainment,Sport teams,"[Rank, Page, Views in millions, href]","[[1, Manchester United F.C., 81, /wiki/Manches..."
17,Entertainment,Films and TV series,"[Rank, Page, Views in millions, href]","[[1, Game of Thrones[43], 122, /wiki/Game_of_T..."
18,Entertainment,Music bands,"[Rank, Page, Views in millions, href]","[[1, The Beatles, 116, /wiki/The_Beatles], [2,..."
19,Entertainment,Albums,"[Rank, Page, Artist, Views in millions, href]","[[1, Sgt. Pepper's Lonely Hearts Club Band[45]..."
20,Entertainment,Singles,"[Rank, Page, Artist, Views in millions, href]","[[1, Gangnam Style, PSY, 22, /wiki/PSY], [2, B..."
21,Entertainment,Video games,"[Rank, Page, Views in millions, href]","[[1, Minecraft, 46, /wiki/Minecraft], [2, Gran..."
22,Entertainment,Books and book series,"[Rank, Page, Views in millions, href]","[[1, Harry Potter, 90, /wiki/Harry_Potter], [2..."
23,Entertainment,Science books,"[Rank, Page, Views in millions, href]","[[1, Mein Kampf, 21, /wiki/Mein_Kampf], [2, Th..."
24,Entertainment,Pre-modern books and texts,"[Rank, Page, Views in millions, href]","[[1, Kama Sutra, 29, /wiki/Kama_Sutra], [2, Ma..."
25,Entertainment,Legendary Creatures,"[Rank, Page, Views in millions, href]","[[1, Darth Vader, 93, /wiki/Darth_Vader], [2, ..."
26,Events,None,"[Rank, Page, Views in millions, href]","[[1, World War II, 145, /wiki/World_War_II], [..."
27,Lists,None,"[Rank, Page, Views in millions, href]","[[1, Presidents of the United States, 104, /wi..."

In [184]:
# For example...
for lst in top_lists[:2]:
    df = pd.DataFrame(lst['content'], columns=lst['headers'])
    display(df)

    Rank            Page Views in millions                  href
0    [a]       Main Page            46,800       /wiki/Main_Page
1    [a]  Special:Search            15,000  /wiki/Special:Search
2    [a]  Special:Random             7,900  /wiki/Special:Random
3    [b]               -             2,900               /wiki/-
4    [a]       Undefined             1,800       /wiki/Undefined
..   ...             ...               ...                   ...
126   97       John Cena                77       /wiki/John_Cena
127   97  Charles Manson                77  /wiki/Charles_Manson
128   97   Ryan Reynolds                77   /wiki/Ryan_Reynolds
129   97       Brad Pitt                77       /wiki/Brad_Pitt
130   97  Vladimir Putin                77  /wiki/Vladimir_Putin

[131 rows x 4 columns]

   Rank                  Page Views in millions                        href
0     1                 Earth                80                 /wiki/Earth
1     2                   Sun                40                   /wiki/Sun
2     3                  Moon                39                  /wiki/Moon
3   [a]         Skathi (moon)                38         /wiki/Skathi_(moon)
4     4            Black hole                37            /wiki/Black_hole
5     4                  Mars                37                  /wiki/Mars
6     6          Solar System                36          /wiki/Solar_System
7     7                 Pluto                31                 /wiki/Pluto
8     8              Big Bang                30              /wiki/Big_Bang
9     9             Milky Way                26             /wiki/Milky_Way
10   10                Saturn                23                /wiki/Saturn
11   11    Kepler's Supernova                20  /wiki/Kepler%27s_Supernova
12   12              Universe                19              /wiki/Universe
13   13           Dark matter                18           /wiki/Dark_matter
14   14                Galaxy                16                /wiki/Galaxy
15   15               Jupiter                15               /wiki/Jupiter
16   16                 Venus                14                 /wiki/Venus
17   17            Supernovae                13            /wiki/Supernovae
18   18      Andromeda Galaxy                12      /wiki/Andromeda_Galaxy
19   19      Mercury (planet)                10      /wiki/Mercury_(planet)
20   20               Neptune               9.5               /wiki/Neptune
21   21                Uranus               9.2                /wiki/Uranus
22   22         Solar eclipse               7.6         /wiki/Solar_eclipse
23   23         Lunar eclipse               7.2         /wiki/Lunar_eclipse
24   24           Dark energy               7.0           /wiki/Dark_energy
25   24        Halley's Comet               7.0      /wiki/Halley%27s_Comet
26   26         Event horizon               6.5         /wiki/Event_horizon
27   27          Titan (moon)               6.2          /wiki/Titan_(moon)
28   28               Eclipse               5.7               /wiki/Eclipse
29   28                Sirius               5.7                /wiki/Sirius
30   30       Winter solstice               5.4       /wiki/Winter_solstice
31   30  Ceres (dwarf planet)               5.4  /wiki/Ceres_(dwarf_planet)
32   30        Alpha Centauri               5.4        /wiki/Alpha_Centauri

In [204]:
combined_df_all = pd.DataFrame()

rename_dict = {'Rank': 'rank', 'Page': 'title', 'Views in millions': 'views_mn',
               'Continent': 'continent', 'Date of completion [a]': 'data_completed',
               'Sport': 'sport', 'Country': 'country', 'Time': 'time', 'Artist': 'artist'}

for lst in top_lists:
    df = (pd.DataFrame(lst['content'], columns=lst['headers'])
          .rename(columns=rename_dict))
    df['group'] = lst['h2']
    df['subgroup'] = lst['h3']
    combined_df_all = pd.concat([combined_df_all, df], axis=0)

# Clean the combined dataframe
combined_df = combined_df_all.copy()
# Remove special rows
combined_df = combined_df[~combined_df['rank'].str.contains(r'[a-z]')]
# remove unnecessary columns
combined_df = combined_df[['title', 'href', 'views_mn', 'group', 'subgroup', 'rank']]

combined_df

,title,href,views_mn,group,subgroup,rank
11,United States,/wiki/United_States,254,Top-100 list,None,1
12,Donald Trump,/wiki/Donald_Trump,243,Top-100 list,None,2
17,Elizabeth II,/wiki/Elizabeth_II,198,Top-100 list,None,3
21,India,/wiki/India,165,Top-100 list,None,4
22,Barack Obama,/wiki/Barack_Obama,161,Top-100 list,None,5
...,...,...,...,...,...,...
25,States and territories of the United States,/wiki/List_of_states_and_territories_of_the_Un...,33,Lists,None,26
26,Suits episodes,/wiki/List_of_Suits_episodes,32,Lists,None,27
27,NBA champions,/wiki/List_of_NBA_champions,30,Lists,None,28
28,Pornographic actresses by decade,/wiki/List_of_pornographic_actresses_by_decade,30,Lists,None,28
29,Best-selling music artists,/wiki/List_of_best-selling_music_artists,29,Lists,None,30

In [205]:
combined_df_all.to_csv('../data/top100_all.csv')
combined_df.to_csv('../data/top100.csv')